body{ 
    margin: 0;
}


.header{
    background: url(images/coffeeBean.jpg) linen;  
    background-position: center;
    background-size: 100%;
    height: 36em;
}

.navbar{
    height: 30px;
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}

.navbar_item{
    font-size: 2em;
    padding-top: 3%;
    color: #983628;
}

.middle{
    text-align: center;
    padding: 7%;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7em;
    color: rgb(250, 220, 52);
}

.footer{
    bottom: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(78, 35, 35);
}


@media screen and (max-width: 800px){
    .navbar{
        font-size: 50%;
    }

    .footer{
        grid-template-columns: 1fr 1fr;
    }
}

.figures{
    align-items: center;
    display: inline-block;
}

.image{
    border-radius: 100%;
    padding-top: 2em;
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width: 15em;
    opacity: 1;
    transition: 1s;
}

.image:hover{
    opacity: 0.25;
}

.btmText{
    position: absolute;
    bottom: 0.1em;
    text-align: center;
    font-family: 'Raleway', 'sans-serif';
    color: rgb(250, 220, 52);
    padding: 1em;
}
/* .logo{
    height: 4em;
    width: 4em;
} */